<div class="eha-radio-buttons">
  <button
    class="btn yes"
    ng-model="model"
    ng-class="model === 'Y' && 'active'"
    btn-radio="'Y'"
  >
    <span
      ng-class="model === 'Y' && 'fa fa-check-circle' || 'fa fa-circle-o'"
      translate
    >Yes</span>
  </button>
  <button
    class="btn no"
    ng-model="model"
    ng-class="model === 'N' && 'active'"
    btn-radio="'N'"
  >
    <span
      ng-class="model === 'N' && 'fa fa-check-circle' || 'fa fa-circle-o'"
      translate
    >No</span>
  </button>
</div>
